* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    width: 100%;
    overflow: hidden;
}

.button-container {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.card-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    border-radius: 1.5em;
}

.btn-primary {
    background: #0078ff;
}

.btn-danger {
    background: red;
}

/* Existing CSS for the login form */
.ring {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring i {
    position: absolute;
    inset: 0;
    border: 2px solid white;
    transition: 0.5s;
}

.ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
}

.ring i:nth-child(2) {
    border-radius: 43% 44% 56% 59% / 38% 62% 63% 37%;
    animation: animate2 4s linear infinite;
}

.ring i:nth-child(3) {
    border-radius: 41% 44% 56% 60% / 38% 62% 63% 47%;
    animation: animate2 10s linear infinite;
}

.ring:hover i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate2 {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.login {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.login h2 {
    font-size: 2em;
    color: aliceblue;
}

.login .inputBx {
    position: relative;
    width: 100%;
}

.login .inputBx input {
    position: relative;
    width: 100%;
    padding: 12px 20px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid white;
    font-size: 1.2em;
    color: aliceblue;
    box-shadow: none;
    outline: none;
}

.login .inputBx input[type="submit"] {
    width: 100%;
    color: rgb(3, 14, 14);
    background: rgba(7, 174, 240, 0.814);
    background: linear-gradient(45deg, rgb(231, 223, 155), rgb(146, 215, 226), rgb(213, 161, 219));
    border: none;
    cursor: pointer;
}

.login .inputBx:hover input[type="submit"] {
    width: 100%;
    background: linear-gradient(45deg, rgb(120, 81, 87), rgb(232, 228, 167), rgb(115, 98, 146));
    border: none;
    cursor: pointer;
}

.login .inputBx input::placeholder {
    color: gray;
}

.login .links {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.login .links a {
    color: aliceblue;
    text-decoration: none;
}
