<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/dangki.css">
</head>
<body>
    <div class="ring">
        <i style="--clr:rgb(233, 177, 9);"></i>
        <i style="--clr:rgb(6, 248, 216);"></i>
        <i style="--clr:rgb(200, 20, 173);"></i>
        <div class="button-container card-buttons">
            <a href="/" class="btn btn-primary">Home Page</a>
            <a href="/formLogin" class="btn btn-info"> Login</a>
        </div>
        <div class="login">
            <h2>Register</h2>

            <div class="inputBx">
                <input type="text" placeholder="Username">
            </div>

            <div class="inputBx">
                <input type="password" placeholder="Password">
            </div>
            <div class="inputBx">
                <input type="password" placeholder="Repeat Password">
            </div>

            <div class="inputBx">
                <input type="submit" value="Register">
            </div>

            <div class="links">
                <a href="#">Forgot password</a>
                <a class="btn btn-info" href="#">Singup</a>
            </div>
        </div>
    </div>
</body>
</html>