  <footer class="fooder">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>Liên hệ: contact@example.com</p>
          <p>Chính sách bảo mật </p>
          <p>Điều khoản sử dụng</p>
          <p>Chính sách đổi trả</p>
        </div>
        <div class="col-md-6">
          <p>Follow us on social media:</p>
          <a href="#" class="btn btn-outline-light">Facebook</a>
          <a href="#" class="btn btn-outline-light">Twitter</a>
          <a href="#" class="btn btn-outline-light">Instagram</a>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.8.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
