<div class="container-fluid" th:fragment="main">

<div class="container-fluid mt-4">
    <h2 class="category-title">Danh mục sản phẩm</h2>
    <div class="row category-container">
      <div class="col-6 col-sm-4 col-md-2">
        <div class="category">
          <a href="cart.html">
            <img src="/images/logo.jpg" class="card-img-top" alt="Sản phẩm 1">
          </a>
          <div class="card-body">
            <h5 class="card-title">Sản phẩm 1</h5>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="category">
          <a href="cart.html">
            <img src="/images/logo.jpg" class="card-img-top" alt="Sản phẩm 1">
          </a>
          <div class="card-body">
            <h5 class="card-title">Sản phẩm 1</h5>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="category">
          <a href="cart.html">
            <img src="/images/logo.jpg" class="card-img-top" alt="Sản phẩm 1">
          </a>
          <div class="card-body">
            <h5 class="card-title">Sản phẩm 1</h5>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="category">
          <a href="cart.html">
            <img src="/images/logo.jpg" class="card-img-top" alt="Sản phẩm 1">
          </a>
          <div class="card-body">
            <h5 class="card-title">Sản phẩm 1</h5>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="category">
          <a href="cart.html">
            <img src="/images/logo.jpg" class="card-img-top" alt="Sản phẩm 1">
          </a>
          <div class="card-body">
            <h5 class="card-title">Sản phẩm 1</h5>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="category">
          <a href="cart.html">
            <img src="/images/logo.jpg" class="card-img-top" alt="Sản phẩm 1">
          </a>
          <div class="card-body">
            <h5 class="card-title">Sản phẩm 1</h5>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2">
        <div class="category">
          <a href="cart.html">
            <img src="/images/logo.jpg" class="card-img-top" alt="Sản phẩm 1">
          </a>
          <div class="card-body">
            <h5 class="card-title">Sản phẩm 1</h5>
          </div>
        </div>
      </div>
      <div class="col-6 col-sm-4 col-md-2 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 col-md-2 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 col-md-2 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 col-md-2 d-none d-md-block"></div>
      <div class="col-6 col-sm-4 col-md-2 d-none d-md-block"></div>
    </div>
  </div>
  
  <hr>
  <h1>Sản phẩm bán chạy</h1>
  <div class="row">
    <div class="col-md-3 mb-4">
      <div class="card">
        <img src="/images/logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Sản phẩm 1</h5>
          <p class="card-text">Mô tả sản phẩm 1</p>
          <div class="d-flex justify-content-between align-items-center card-buttons">
            <a href="/productDetail" class="btn btn-primary">Xem chi tiết</a>
            <a href="cart.html" class="btn btn-danger">
              <img class="icon"
                src="https://file.hstatic.net/200000642007/file/icon-cart_d075fce117f74a07ae7f149d8943fc33.svg"
                data-src="https://file.hstatic.net/200000642007/file/icon-cart_d075fce117f74a07ae7f149d8943fc33.svg"
                alt="Icon cart">
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Repeat similar blocks for other products -->
  </div>
</div>
